<app-header></app-header>
<!-- <div class="container">
  <div class="top">
    
  <div id="nav">
    <ul>
      <li>Home</li>
      <li>Weather</li>
      <li>To do</li>
    </ul>
  </div>
    <section id="landingSign">
      <h1 id="landingh1">Japan Tours</h1>
      <h3>A start up to your japanese experience</h3>
    </section>
  </div>
  <div class="bottom">
    <div class="weatherApp">
      <div class="weatherAppPrev">
        <div class="weatherCard">

        </div>
      </div>
      <div class="weatherDesc">
        <h2>Weather app</h2>
        <p>Application that uses live API to check the weather for a specific location within Japan. With this, you do not need to trouble yourself picking the right day with the right weather.</p>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
